* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


.row {
    display: grid;
    grid-template-columns: auto auto auto auto auto auto auto auto auto auto auto auto ;
    gap: 10px;
    padding: 10px;
}

.col-12 {
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid black;
    text-align: center;
    font-size: 30px;
}

.row-1 {
    display: grid;
    grid-template-columns: auto auto auto auto auto auto ;
    gap: 10px;
    padding: 10px;
}

.col-6 {
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid black;
    text-align: center;
    font-size: 30px;
}
.row-2 {
    display: grid;
    grid-template-columns:auto auto auto auto ;
    gap: 10px;
    padding: 10px;
}
.col-4 {
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid black;
    text-align: center;
    font-size: 30px;
}

.row-3 {
    display: grid;
    grid-template-columns:auto auto auto ;
    gap: 10px;
    padding: 10px;
}

.col-3 {
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid black;
    text-align: center;
    font-size: 30px;
}

.row-4 {
    display: grid;
    grid-template-columns:auto auto ;
    gap: 10px;
    padding: 10px;
}
.col-2 {
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid black;
    text-align: center;
    font-size: 30px;
}

.row-5 {
    display: grid;
    grid-template-columns: auto ;
    gap: 10px;
    padding: 10px;
}

.col-1 {
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid black;
    text-align: center;
    font-size: 30px;
}
